.grayText {
  color: #404041;
}

.customBg {
  background-color: #fff8ec;
}

@media (width >=40rem) {
  .gradientContainer {
    background: linear-gradient(to right, #f0d8ff, #cddef9),
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #cddef9 100%);
    background-blend-mode: multiply;
  }
}
