.grayText {
  color: #404041;
}

.customBg {
  background-color: #fff8ec;
}

.gradientContainer {
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.48)),
    linear-gradient(to right, #BB48FD, #0A61E4);
}